body{
    background-color: #006643;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    margin-top: 10px;
    padding: 5px;
    font-family: Josefin Sans;
    background-color: #006643;
}
.home-container{
    align-items: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 15px;
    border: 3px black solid;
    background-color: rgb(188,190,192);
        /* background-color: #006643; */
    height: 450px;

}
.enter-id{
    text-align: center;
    padding: 3px;
    margin:5px;
}
.enter-id label{
    margin-bottom: 5px;
}

.enter-info{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    border: 3px black solid;
    background-color: rgb(188, 190, 192);
    display: none;
}
.submit-student{
    padding: 2px;
    align-items: center;
    text-align: center;
}
.title{
    text-align: center;
}
.greeting{
    display:none;
    color: rgb(30,30,30);
    text-align: center;
    font-size: 1.25em;
}
.page-navigation{
    display: none;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    padding: 10px;
    border: 3px black solid;
    background-color: rgb(188, 190, 192);
}
/* img{
    border: 3px black solid;
} */
label{
    margin: 3px;
}
input{
    margin: 5px;
}
button{
    width: 30%;
    height: 20px;
    background-color:rgb(30, 30, 30);
    color: white;
}
@font-face {
    font-family: 'Josefin Sans';
    src: local('Josefin Sans'), url("./Josefin_Sans/static/JosefinSans-Medium.ttf") format('truetype');
}
